<h1>Directorio de Personas</h1>

<ul>
    <li>
        <a href="/agregar">Agregar Persona</a>
    </li>

    <li>
        <a href="/buscar/">Buscador por ID</a>
    </li>
</ul>



<ul>
    <li>
        Cantidad de personas: {{cantidad}}
    </li>
</ul>



{% for persona in listado %}
    <ul>
        <li>
            Id : {{persona.id}} <br> 
            Nombres: {{persona.nombres}} <br>     
            Apellidos: {{persona.apellidos}} <br>
            <a href="/buscar_persona/{{persona.id}}">Ver Informacion Completa</a> <br>
            <a href="/modificar/{{persona.id}}">Modificar Informacion</a> <br>
            <a href="/eliminar/{{persona.id}}">Eliminar Persona</a> <br>
        </li>
    </ul>    
{% endfor %}

